{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Log in{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
        {% block logout %}
        {% endblock %}
        {% block logout_mobile %}
        {% endblock %}
    {% endif %}
    <div class="container">
        <div class="form">
            {% with message = get_flashed_messages() %}
                {% if message %}
                    <div class="alert alert-primary" role="alert">
                        {{message[0]}}
                    </div>
                {% endif %}
            {% endwith %}
            <form action="/login" method="POST" class="form-signin form">

                <h2 class="form-singin-heading">Please Log in</h2>
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.username) }}
                {{ wtf.form_field(form.password) }}
                {{ wtf.form_field(form.remember_me) }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">login</button>
            </form>
        </div>
    </div>

{% endblock %}